

@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
*{
    margin:0px;
    padding:0xp;
}
.navbar{
    background-image:linear-gradient(to right, #2493dd, #6578cc) ;
}
header a {
    font-family: var(--Sniglet-font);
    font-size: 1.10em;
    color: whitesmoke;
  }

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to right, #2493dd, #6578cc);
  --light-gray: rgba(255, 255, 255, 0.877);
}
.section-2 {
    background: rgba(123, 202, 255, 0.815);
    overflow-x: hidden;
    height: 800px;
    padding: auto;
  }
  footer {
    background: rgba(53, 51, 59, 0.815);
    padding: 1px ;
    height: 170px;
   
  }

  .copy p{
      text-align: center;
      text-transform: capitalize;
      margin-top: 10px;
      

  }
 
  #advanced-search-form{
    background-color: rgb(251, 251, 251);
    max-width: 800px;
    margin: 40px auto 0;
    padding: 10px;
    color: #0a0531;
    box-shadow: 6px 6px 6px rgba(24, 1, 78, 0.2);
    height: 500px;
}

#advanced-search-form h2{
    padding-bottom: 10px;
    margin: 10px 20px;
    font-size: 24px;
    text-align: center;
}

#advanced-search-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}
#advanced-search-form .form-select{
	margin-bottom: 20px;
    margin-left:20px;
	width: 30%;
    float:left;
    text-align: left;
}


#advanced-search-form .btn{
    width: 8%;
    margin: 25px 500px;
    display: block;
    outline: none;
    
}
#advanced-search-form .btn #search{
    width: 15%;
    margin: 25px 500px;
    display: block;
    outline: none;
    
}
#advanced-search-form .btn{
    width: 8%;
    margin: 25px 580px;
    display: block;
    outline: none;
    
}
.cancelar{
    width: 150%;
    padding: 10px;
    margin: -351px -18px;
    justify-content: center;
}
.ok{
    width: 80%;
    padding: 10px;
    margin: 250px 100px;
   
}

.origen{
    padding: 0px;
    margin: -260px 450px;
    justify-content: center;
    width: 180px;
}



@media screen and (max-width: 800px){
    #advanced-search-form .form-group{
        width: 45%;
    }

    #advanced-search-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #advanced-search-form .form-group{
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form h2{
        text-align: center;
    }
}

